

/* Headers */
.headers {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

/* Sign In */

#formContainer2 {
    background-color: black;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 20px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.sign-in-header {
  color: white;
}

#createBtn {
  margin-top: 10px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}


#loginBtn {
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.username {
  color: white;
}

.password {
  color: white;
}

/* Password Gen Professional */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  margin: 2px;
  padding: 20px;
  color: rgb(0, 225, 255);
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}


.card {
  background-color: black;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: rgb(57, 200, 243);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: center;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(57, 200, 243);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.pass-gen {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.learn-block {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.hire-block {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.fuel-block {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

