:root {
    --container: #222222;
    --left: rgba(28, 30, 175, 0.7);
    --left-btn-hover: rgba(150, 139, 245, 0.3);
    --right: rgba(245, 76, 217, 0.7);
    --right-btn-hover: rgba(34, 19, 165, 0.3);
    --hover-width: 70%;
    --else-width: 30%;
    --reactionSpeed: 700ms;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.nav-wrapper {
    background-color: rgb(80, 77, 77);
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-size: cover;
    background-color: black;
 
}

.perBackground {
    background-color: black;
    background-size: cover;
}

h1 {
    font-size: xx-large;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.pageFontPer {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(232, 12, 240);
}

.pageFont {
    color: rgb(0, 225, 255);
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

/* Button FX */

.button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: whitesmoke;
    border: whitesmoke solid 0.2rem;
    font: 1rem;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.split.left .button:hover {
    background-color: var(--left-btn-hover);
    border-color: var(--left-btn-hover);
}

.split.right .button:hover {
    background-color: var(--right-btn-hover);
    border-color: var(--right-btn-hover);
}

/* Page Image Cover */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Split Images and Postioning */ 

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('../img/left.jpeg') center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left);
}

.split.right {
    right: 0;
    background: url('../img/right.jpeg') center center no-repeat;
    background-size: cover;
    z-index: 1;
}

.split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right);
}

.split.left, .split.right, .split.left:before, .split.right:before {
    transition: var(--reactionSpeed) all ease-in-out;
}

/* Hover Prominent Side Display*/

.hover-left .left {
    width: var(--hover-width);   
}

.hover-left .right {
    width: var(--else-width);
}

.hover-left .right {
    z-index: 2;
}

/* Hover Prominent Side Display Reverse */

.hover-right .right {
    width: var(--hover-width);   
}

.hover-right .left {
    width: var(--else-width);
}

.hover-right .left {
    z-index: 2;
}

/* News styling*/
.news-card {
    border-radius: 5px;
}

.news-header {
    color:black;
}
.news-body {
    background-color: transparent;
    box-shadow: none;
}

.news-title {
    font-family: Courier New, Courier, monospace;
    font-size: 22px;
    color: black;
}

.news-link {
    color: blue;
    font-family: Courier New, Courier, monospace;
    font-size: 18px;
    font-weight: 900;
}

.news-input {
    color: black;
    font-family: Courier New, Courier, monospace;
    border-bottom: 1px solid black !important;
}

.news-input:focus {
    border-bottom: 1px solid black !important;
  }

.news-btn, .news-btn:focus{
    background-color: black;
    color: white;
    font-family: Courier New, Courier, monospace;
    border: none;
    padding: 15px;
}
.news-btn:hover{
    background-color: white;
    color: black;
}
/* end of news styling*/

/*Daily Task Styling*/
#taskDiv {
    height: 300px;
    overflow: scroll;
}
.task-container {
    border-radius: 3px;
    margin: 10px;
    overflow: scroll;
}

.task-row {
    padding: 10px;
    margin-bottom: 0px;
}
.task-card {
    background-color: transparent;
    border: none;
    box-shadow: none;

}
.save-btn {
    margin-top: 20px;
    background-color: black !important;
}

.save-btn:hover {
    background-color: white !important;
}

.save-icon:hover {
    color: black !important;
}


.text-input {
    border-bottom-color: black !important;
    font-family: 'Courier New', Courier, monospace;
}

.text-input:focus {
    border-bottom-color: black !important;
}

#clockDiv, 
#weatherDiv, 
#taskDiv, 
#newsDiv, 
#quoteDiv,
.linkImage {
    margin: 5px 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#formContainer {
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 5px 10px;
    color:  black;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
}

#createBtn {
    margin-top: 10px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#createBtn:hover {
    color: black;
    background-color: white;
}
  
  
#loginBtn {
      margin-top: 10px;
      background-color: black;
      color: white;
      font-family: 'Courier New', Courier, monospace;
}

#loginBtn:hover {
    color: black;
    background-color: white;
}
  
.username {
    color: black;
    border-bottom: 1px solid black !important;
}
  
.password {
    color: black;
    border-bottom: 1px solid black !important;
}
/*End of Task Styling*/

/*Clock Styling*/
.clock-div {
    border-radius: 3px;
}
.clock {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
/*End of Clock Styling*/

.sign-in {
    height: 300px;
    background-color: white;
}

.weather {
    height: 300px;
    overflow: scroll;
}

.weather-btn, .weather-btn:focus {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.weather-btn:hover {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
}


#citySearch {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid black !important;
}

/* The Modal (background) */
.modal {
    background-color: white;
    z-index: 100;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
  }
  

/* Media Queries for Tablet and Mobile Devices */
@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        width: 12rem;
    }
}

@media (max-height: 700px) {
    h1 {
        font-size: 2rem;
    }

    .button {
        width: 12rem;
    }
}
